<%-include('../partials/head')%>
<h1>Login</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="insert user name">
    <input type="text" name="password" placeholder="insert password">
    <button>
        Submit
    </button>
</form>



<%-include('../partials/foot')%>